
<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>
  <meta charset="utf-8">
  <title><%= html_title yield(:page_title) %></title>
  <%= csrf_meta_tag %>
  <%= stylesheet_link_tag 'application' %>
  <%= stylesheet_link_tag 'jquery.tweet' %>
  <%= javascript_include_tag 'jquery' %>
  <%= javascript_include_tag 'rails' %>
  <%= javascript_include_tag 'jquery.tweet' %>	
  <%= open_id_delegation_link_tags(enki_config[:open_id_delegation, :server], enki_config[:open_id_delegation, :delegate]) if enki_config[:open_id_delegation] %>
  <%= yield(:head) %>
<script type='text/javascript'>
    $(document).ready(function(){
        $(".tweet").tweet({
            username: ["shed30"],
            join_text: "auto",
            avatar_size: 0,
            count: 3,
            auto_join_text_default: "", 
            auto_join_text_ed: "",
            auto_join_text_ing: "",
            auto_join_text_reply: "",
            auto_join_text_url: "",
            loading_text: "loading tweets..."
        });
    });
</script>
</head>
<body>
  <div id="page_container">
    <div id="content">
      <h1 id="page_heading"><a href="<%= root_url %>"><%= enki_config[:title] %></a></h1>

      <div id="main">
        <%= yield %>
      </div>

      <div id="navigation">
        <h2>Pages</h2>
        <ul>
          <% page_links_for_navigation.each do |link| -%>
            <li><%= link_to(link.name, link.url) %></li>
          <% end -%>
        </ul>
        <% unless category_links_for_navigation.empty? -%>
		<div class="tweet"></div>
          <h2>Categories</h2>
          <ul>
            <% category_links_for_navigation.each do |link| -%>
              <li><%= link_to(link.name, link.url) %></li>
            <% end -%>
          </ul>
        <% end -%>
        <form method="get" id="sform" action="http://www.google.com/search">
          <div>
            <h2><label for="q">Search</label></h2>

            <input type="text" id="q" value="" name="q">
            <input type="hidden" name="sitesearch" value="<%= enki_config[:url] %>">
          </div>
        </form>
      </div>

      <div id="footer"><%= enki_config[:title] %> &#169; 2011 <%= enki_config[:author, :name] %>. </div>
    </div>
  </div>
</body>
</html>
